<% content_for :head do %>
  <%= javascript_include_tag 'raphael' %>
  <%= javascript_include_tag 'morris' %>
  <%= javascript_include_tag 'morris_render' %>
<% end %>
<div class="row-fluid">
  <div class="span6">
    <%= render 'graph' %>
  </div>
  <div class="span6">
    <div class="spill-cell">
      <%= render 'stat_table' %>
    </div>
  </div>
</div>
